<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down your ideas for a Portfolio Piece</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg mt-2 mb-3">Add Idea</a>
    <br>
    <a href="/ideas" class="btn btn-dark btn-lg">View ideas</a>
</div>